.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  background: #131d24;
  min-width: 0;
}
.freeBox__ui1Ts {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 61.8vh;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__gnb7D {
  display: flex;
  background: url("/plasmic/minimalist_about_me_page/images/titelloses9320250515225802Png.png") left 50% top 50% / cover no-repeat;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 61.8vh;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.text__yfcLe {
  max-width: 100%;
  text-align: center;
  font-family: "Impact";
  font-size: 7em;
  text-transform: uppercase;
}
.freeBox__whJzy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 19.1vw;
}
.text__cr16P {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding: 3vh 0vh;
}
.contentTitle:global(.__wab_instance) {
  max-width: 100%;
}
.text__w2DNe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 0px 0px 1vh;
}
.freeBox__rbZl1 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  width: 100%;
  grid-auto-rows: 25em;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 9.5vw;
}
.freeBox__hlKTw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  padding: 12px;
}
.newsCard:global(.__wab_instance) {
  max-width: 100%;
}
