@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Denk+One%3Aital%2Cwght%400%2C400&family=Eczar%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C800&display=swap");

.plasmic_tokens {
  --token-9-V_NTaD813-: rgba(11, 166, 245, 0.77);
  --plasmic-token-brand: var(--token-9-V_NTaD813-);
  --token-c4GqJ_Pt1ean: #f25890bf;
  --plasmic-token-atricas-pink: var(--token-c4GqJ_Pt1ean);
  --token-5-6slAPwAaNB: #6bdf6fbf;
  --plasmic-token-atricas-green: var(--token-5-6slAPwAaNB);
  --token-jRE1DGozrLL4: #367dcbbf;
  --plasmic-token-atricas-blue: var(--token-jRE1DGozrLL4);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-htKS2dxBE9xW_font-family: "IBM Plex Sans", sans-serif;
  --mixin-htKS2dxBE9xW_font-size: 14px;
  --mixin-htKS2dxBE9xW_font-weight: normal;
  --mixin-htKS2dxBE9xW_font-style: normal;
  --mixin-htKS2dxBE9xW_color: rgb(222, 245, 239);
  --mixin-htKS2dxBE9xW_text-align: left;
  --mixin-htKS2dxBE9xW_text-transform: none;
  --mixin-htKS2dxBE9xW_line-height: 1.5;
  --mixin-htKS2dxBE9xW_letter-spacing: normal;
  --mixin-htKS2dxBE9xW_white-space: pre-wrap;
  --mixin-htKS2dxBE9xW_user-select: text;
  --mixin-C1ITAIgzykfd_font-family: "Inter", sans-serif;
  --mixin-C1ITAIgzykfd_color: #000000;
  --mixin-C1ITAIgzykfd_font-size: 72px;
  --mixin-C1ITAIgzykfd_font-weight: 900;
  --mixin-C1ITAIgzykfd_letter-spacing: -4px;
  --mixin-C1ITAIgzykfd_line-height: 1;
  --mixin-C1ITAIgzykfd_white-space: pre-wrap;
  --mixin--oOLFYGi_r2U_font-family: "Inter", sans-serif;
  --mixin--oOLFYGi_r2U_color: #000000;
  --mixin--oOLFYGi_r2U_font-size: 48px;
  --mixin--oOLFYGi_r2U_font-weight: 700;
  --mixin--oOLFYGi_r2U_letter-spacing: -1px;
  --mixin--oOLFYGi_r2U_line-height: 1.1;
  --mixin--oOLFYGi_r2U_white-space: pre-wrap;
  --mixin-2ycmHHLWhnc4_font-family: "Inter", sans-serif;
  --mixin-2ycmHHLWhnc4_color: #000000;
  --mixin-2ycmHHLWhnc4_font-size: 32px;
  --mixin-2ycmHHLWhnc4_font-weight: 600;
  --mixin-2ycmHHLWhnc4_letter-spacing: -0.8px;
  --mixin-2ycmHHLWhnc4_line-height: 1.2;
  --mixin-2ycmHHLWhnc4_white-space: pre-wrap;
  --mixin-p2Ahk6UunI5f_font-family: "Inter", sans-serif;
  --mixin-p2Ahk6UunI5f_color: #000000;
  --mixin-p2Ahk6UunI5f_font-size: 24px;
  --mixin-p2Ahk6UunI5f_font-weight: 600;
  --mixin-p2Ahk6UunI5f_letter-spacing: -0.5px;
  --mixin-p2Ahk6UunI5f_line-height: 1.3;
  --mixin-p2Ahk6UunI5f_white-space: pre-wrap;
  --mixin-cZYHLREekg63_font-family: "Inter", sans-serif;
  --mixin-cZYHLREekg63_color: #000000;
  --mixin-cZYHLREekg63_font-size: 20px;
  --mixin-cZYHLREekg63_font-weight: 600;
  --mixin-cZYHLREekg63_letter-spacing: -0.3px;
  --mixin-cZYHLREekg63_line-height: 1.5;
  --mixin-cZYHLREekg63_white-space: pre-wrap;
  --mixin-IHqPjclAR4Sp_font-family: "Inter", sans-serif;
  --mixin-IHqPjclAR4Sp_color: #000000;
  --mixin-IHqPjclAR4Sp_font-size: 16px;
  --mixin-IHqPjclAR4Sp_font-weight: 600;
  --mixin-IHqPjclAR4Sp_line-height: 1.5;
  --mixin-IHqPjclAR4Sp_white-space: pre-wrap;
  --mixin-RXrUnAgOfzeI_border-left-color: #dddddd;
  --mixin-RXrUnAgOfzeI_border-left-style: solid;
  --mixin-RXrUnAgOfzeI_border-left-width: 3px;
  --mixin-RXrUnAgOfzeI_color: #888888;
  --mixin-RXrUnAgOfzeI_padding-left: 10px;
  --mixin-RXrUnAgOfzeI_white-space: pre-wrap;
  --mixin-9eoxwGf67iET_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9eoxwGf67iET_border-bottom-color: #dddddd;
  --mixin-9eoxwGf67iET_border-bottom-style: solid;
  --mixin-9eoxwGf67iET_border-bottom-width: 1px;
  --mixin-9eoxwGf67iET_border-left-color: #dddddd;
  --mixin-9eoxwGf67iET_border-left-style: solid;
  --mixin-9eoxwGf67iET_border-left-width: 1px;
  --mixin-9eoxwGf67iET_border-right-color: #dddddd;
  --mixin-9eoxwGf67iET_border-right-style: solid;
  --mixin-9eoxwGf67iET_border-right-width: 1px;
  --mixin-9eoxwGf67iET_border-top-color: #dddddd;
  --mixin-9eoxwGf67iET_border-top-style: solid;
  --mixin-9eoxwGf67iET_border-top-width: 1px;
  --mixin-9eoxwGf67iET_border-bottom-left-radius: 3px;
  --mixin-9eoxwGf67iET_border-bottom-right-radius: 3px;
  --mixin-9eoxwGf67iET_border-top-left-radius: 3px;
  --mixin-9eoxwGf67iET_border-top-right-radius: 3px;
  --mixin-9eoxwGf67iET_font-family: "Inconsolata";
  --mixin-9eoxwGf67iET_padding-bottom: 1px;
  --mixin-9eoxwGf67iET_padding-left: 4px;
  --mixin-9eoxwGf67iET_padding-right: 4px;
  --mixin-9eoxwGf67iET_padding-top: 1px;
  --mixin-9eoxwGf67iET_white-space: pre-wrap;
  --mixin-BigS-bq2o0Mm_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-BigS-bq2o0Mm_border-bottom-color: #dddddd;
  --mixin-BigS-bq2o0Mm_border-bottom-style: solid;
  --mixin-BigS-bq2o0Mm_border-bottom-width: 1px;
  --mixin-BigS-bq2o0Mm_border-left-color: #dddddd;
  --mixin-BigS-bq2o0Mm_border-left-style: solid;
  --mixin-BigS-bq2o0Mm_border-left-width: 1px;
  --mixin-BigS-bq2o0Mm_border-right-color: #dddddd;
  --mixin-BigS-bq2o0Mm_border-right-style: solid;
  --mixin-BigS-bq2o0Mm_border-right-width: 1px;
  --mixin-BigS-bq2o0Mm_border-top-color: #dddddd;
  --mixin-BigS-bq2o0Mm_border-top-style: solid;
  --mixin-BigS-bq2o0Mm_border-top-width: 1px;
  --mixin-BigS-bq2o0Mm_border-bottom-left-radius: 3px;
  --mixin-BigS-bq2o0Mm_border-bottom-right-radius: 3px;
  --mixin-BigS-bq2o0Mm_border-top-left-radius: 3px;
  --mixin-BigS-bq2o0Mm_border-top-right-radius: 3px;
  --mixin-BigS-bq2o0Mm_font-family: "Inconsolata";
  --mixin-BigS-bq2o0Mm_padding-bottom: 3px;
  --mixin-BigS-bq2o0Mm_padding-left: 6px;
  --mixin-BigS-bq2o0Mm_padding-right: 6px;
  --mixin-BigS-bq2o0Mm_padding-top: 3px;
  --mixin-BigS-bq2o0Mm_white-space: pre-wrap;
  --mixin-k2EvxsbqoXIo_display: flex;
  --mixin-k2EvxsbqoXIo_flex-direction: column;
  --mixin-k2EvxsbqoXIo_align-items: stretch;
  --mixin-k2EvxsbqoXIo_justify-content: flex-start;
  --mixin-k2EvxsbqoXIo_list-style-position: outside;
  --mixin-k2EvxsbqoXIo_padding-left: 40px;
  --mixin-k2EvxsbqoXIo_position: relative;
  --mixin-k2EvxsbqoXIo_list-style-type: decimal;
  --mixin-k2EvxsbqoXIo_white-space: pre-wrap;
  --mixin-UUxsjrilBoOz_display: flex;
  --mixin-UUxsjrilBoOz_flex-direction: column;
  --mixin-UUxsjrilBoOz_align-items: stretch;
  --mixin-UUxsjrilBoOz_justify-content: flex-start;
  --mixin-UUxsjrilBoOz_list-style-position: outside;
  --mixin-UUxsjrilBoOz_padding-left: 40px;
  --mixin-UUxsjrilBoOz_position: relative;
  --mixin-UUxsjrilBoOz_list-style-type: disc;
  --mixin-UUxsjrilBoOz_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-wHKbAUhtPkIj_white-space: pre-wrap;
  --plasmic-mixin-nav-link_white-space: var(--mixin-wHKbAUhtPkIj_white-space);
  --mixin-jqGLRY8e5i-0_white-space: pre-wrap;
  --plasmic-mixin-unnamed-mixin_white-space: var(
    --mixin-jqGLRY8e5i-0_white-space
  );
  --mixin-VqhU3fFF5AkV_white-space: pre-wrap;
  --plasmic-mixin-label_white-space: var(--mixin-VqhU3fFF5AkV_white-space);
  --mixin-VWE7w_fuJbjC_white-space: pre-wrap;
  --plasmic-mixin-right-column_white-space: var(
    --mixin-VWE7w_fuJbjC_white-space
  );
  --mixin-GsTDCBmFpH1n_white-space: pre-wrap;
  --plasmic-mixin-no-underline_white-space: var(
    --mixin-GsTDCBmFpH1n_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-htKS2dxBE9xW_font-family);
  font-size: var(--mixin-htKS2dxBE9xW_font-size);
  font-weight: var(--mixin-htKS2dxBE9xW_font-weight);
  font-style: var(--mixin-htKS2dxBE9xW_font-style);
  color: var(--mixin-htKS2dxBE9xW_color);
  text-align: var(--mixin-htKS2dxBE9xW_text-align);
  text-transform: var(--mixin-htKS2dxBE9xW_text-transform);
  line-height: var(--mixin-htKS2dxBE9xW_line-height);
  letter-spacing: var(--mixin-htKS2dxBE9xW_letter-spacing);
  white-space: var(--mixin-htKS2dxBE9xW_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-C1ITAIgzykfd_font-family);
  color: var(--mixin-C1ITAIgzykfd_color);
  font-size: var(--mixin-C1ITAIgzykfd_font-size);
  font-weight: var(--mixin-C1ITAIgzykfd_font-weight);
  letter-spacing: var(--mixin-C1ITAIgzykfd_letter-spacing);
  line-height: var(--mixin-C1ITAIgzykfd_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin--oOLFYGi_r2U_font-family);
  color: var(--mixin--oOLFYGi_r2U_color);
  font-size: var(--mixin--oOLFYGi_r2U_font-size);
  font-weight: var(--mixin--oOLFYGi_r2U_font-weight);
  letter-spacing: var(--mixin--oOLFYGi_r2U_letter-spacing);
  line-height: var(--mixin--oOLFYGi_r2U_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-2ycmHHLWhnc4_font-family);
  color: var(--mixin-2ycmHHLWhnc4_color);
  font-size: var(--mixin-2ycmHHLWhnc4_font-size);
  font-weight: var(--mixin-2ycmHHLWhnc4_font-weight);
  letter-spacing: var(--mixin-2ycmHHLWhnc4_letter-spacing);
  line-height: var(--mixin-2ycmHHLWhnc4_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-p2Ahk6UunI5f_font-family);
  color: var(--mixin-p2Ahk6UunI5f_color);
  font-size: var(--mixin-p2Ahk6UunI5f_font-size);
  font-weight: var(--mixin-p2Ahk6UunI5f_font-weight);
  letter-spacing: var(--mixin-p2Ahk6UunI5f_letter-spacing);
  line-height: var(--mixin-p2Ahk6UunI5f_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-cZYHLREekg63_font-family);
  color: var(--mixin-cZYHLREekg63_color);
  font-size: var(--mixin-cZYHLREekg63_font-size);
  font-weight: var(--mixin-cZYHLREekg63_font-weight);
  letter-spacing: var(--mixin-cZYHLREekg63_letter-spacing);
  line-height: var(--mixin-cZYHLREekg63_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-IHqPjclAR4Sp_font-family);
  color: var(--mixin-IHqPjclAR4Sp_color);
  font-size: var(--mixin-IHqPjclAR4Sp_font-size);
  font-weight: var(--mixin-IHqPjclAR4Sp_font-weight);
  line-height: var(--mixin-IHqPjclAR4Sp_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-RXrUnAgOfzeI_color);
  padding-left: var(--mixin-RXrUnAgOfzeI_padding-left);
  border-left: var(--mixin-RXrUnAgOfzeI_border-left-width)
    var(--mixin-RXrUnAgOfzeI_border-left-style)
    var(--mixin-RXrUnAgOfzeI_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9eoxwGf67iET_font-family);
  border-radius: var(--mixin-9eoxwGf67iET_border-top-left-radius)
    var(--mixin-9eoxwGf67iET_border-top-right-radius)
    var(--mixin-9eoxwGf67iET_border-bottom-right-radius)
    var(--mixin-9eoxwGf67iET_border-bottom-left-radius);
  padding: var(--mixin-9eoxwGf67iET_padding-top)
    var(--mixin-9eoxwGf67iET_padding-right)
    var(--mixin-9eoxwGf67iET_padding-bottom)
    var(--mixin-9eoxwGf67iET_padding-left);
  border-top: var(--mixin-9eoxwGf67iET_border-top-width)
    var(--mixin-9eoxwGf67iET_border-top-style)
    var(--mixin-9eoxwGf67iET_border-top-color);
  border-right: var(--mixin-9eoxwGf67iET_border-right-width)
    var(--mixin-9eoxwGf67iET_border-right-style)
    var(--mixin-9eoxwGf67iET_border-right-color);
  border-bottom: var(--mixin-9eoxwGf67iET_border-bottom-width)
    var(--mixin-9eoxwGf67iET_border-bottom-style)
    var(--mixin-9eoxwGf67iET_border-bottom-color);
  border-left: var(--mixin-9eoxwGf67iET_border-left-width)
    var(--mixin-9eoxwGf67iET_border-left-style)
    var(--mixin-9eoxwGf67iET_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-BigS-bq2o0Mm_font-family);
  border-radius: var(--mixin-BigS-bq2o0Mm_border-top-left-radius)
    var(--mixin-BigS-bq2o0Mm_border-top-right-radius)
    var(--mixin-BigS-bq2o0Mm_border-bottom-right-radius)
    var(--mixin-BigS-bq2o0Mm_border-bottom-left-radius);
  padding: var(--mixin-BigS-bq2o0Mm_padding-top)
    var(--mixin-BigS-bq2o0Mm_padding-right)
    var(--mixin-BigS-bq2o0Mm_padding-bottom)
    var(--mixin-BigS-bq2o0Mm_padding-left);
  border-top: var(--mixin-BigS-bq2o0Mm_border-top-width)
    var(--mixin-BigS-bq2o0Mm_border-top-style)
    var(--mixin-BigS-bq2o0Mm_border-top-color);
  border-right: var(--mixin-BigS-bq2o0Mm_border-right-width)
    var(--mixin-BigS-bq2o0Mm_border-right-style)
    var(--mixin-BigS-bq2o0Mm_border-right-color);
  border-bottom: var(--mixin-BigS-bq2o0Mm_border-bottom-width)
    var(--mixin-BigS-bq2o0Mm_border-bottom-style)
    var(--mixin-BigS-bq2o0Mm_border-bottom-color);
  border-left: var(--mixin-BigS-bq2o0Mm_border-left-width)
    var(--mixin-BigS-bq2o0Mm_border-left-style)
    var(--mixin-BigS-bq2o0Mm_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-k2EvxsbqoXIo_display);
  flex-direction: var(--mixin-k2EvxsbqoXIo_flex-direction);
  align-items: var(--mixin-k2EvxsbqoXIo_align-items);
  justify-content: var(--mixin-k2EvxsbqoXIo_justify-content);
  list-style-position: var(--mixin-k2EvxsbqoXIo_list-style-position);
  padding-left: var(--mixin-k2EvxsbqoXIo_padding-left);
  position: var(--mixin-k2EvxsbqoXIo_position);
  list-style-type: var(--mixin-k2EvxsbqoXIo_list-style-type);
  flex-column-gap: var(--mixin-k2EvxsbqoXIo_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-UUxsjrilBoOz_display);
  flex-direction: var(--mixin-UUxsjrilBoOz_flex-direction);
  align-items: var(--mixin-UUxsjrilBoOz_align-items);
  justify-content: var(--mixin-UUxsjrilBoOz_justify-content);
  list-style-position: var(--mixin-UUxsjrilBoOz_list-style-position);
  padding-left: var(--mixin-UUxsjrilBoOz_padding-left);
  position: var(--mixin-UUxsjrilBoOz_position);
  list-style-type: var(--mixin-UUxsjrilBoOz_list-style-type);
  flex-column-gap: var(--mixin-UUxsjrilBoOz_flex-column-gap);
}
