.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 15vw;
}
.atricasIcon {
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.atricasIcon > picture > img {
  object-fit: cover;
}
.choices {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__ndkFa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text__iRg5G {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__uTinx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text___3BruG {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__lZkCc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text__qq4C2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yOm8F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text__f1OJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__v5IsZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text__ikaGr {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__zxNb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  min-width: 0;
  padding: 8px;
}
.text__xzhY {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
